/* ? UTILITIES ...............................*/
.autoverflow{
    overflow: auto;
}

/* ? BODY ...............................*/
body{
    background-image: linear-gradient(180deg, #009688 20%, #dbdbd2 20%);
}

/* ? DIV.CONTAINER ...............................*/
.my_ancestor{
    height: 100vh;
}

/* ? ENTIRE APP ...............................*/
.my_boolzapp{
    width: 90%;
    height: 80%;
}